body {
  background-color: rgb(5, 5, 5);
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.my-list {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid rgb(209, 208, 208);
  width: 35%;
}

.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(204, 203, 203);
  height: 40px;
}

h1 {
  font-size: 15px;
  color: rgb(117, 112, 112);
  margin-left: 3px;
}

.text {
  border: none;
  height: 40px;
  width: 100vh;
}

.list-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(219, 218, 218);
}

.list-button {
  height: 40px;
  background-color: rgb(255, 255, 255);
  border-top: 1px solid rgb(219, 218, 218);
}

button {
  border: none;
}

.container {
  display: flex;
  flex-direction: column;
}

.list-class {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.para-text {
  margin-right: 15rem;
}

.fa-ellipsis-vertical {
  width: 20px;
  height: 20px;
  margin-top: 1rem;
  color: rgb(36, 32, 32);
}

.fa-user-pen {
  width: 20px;
  height: 20px;
  margin-top: 1rem;
  margin-left: 6rem;
  color: rgb(14, 13, 13);
}

.fa-trash {
  width: 20px;
  height: 20px;
  margin-top: 1rem;
  color: rgb(14, 13, 13);
}

#refresh {
  margin-right: 6px;
  color: rgb(32, 30, 30);
}

.material-icons {
  margin-right: 6px;
  color: rgb(31, 29, 29);
}

.inner-div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 3%;
}

.inner-text {
  width: 6.7rem;
  margin-top: 2%;
}

.inner-button {
  background-color: black;
  color: white;
  width: 37px;
  height: 20px;
  margin-top: 2%;
}

.cancel-text {
  text-decoration: line-through;
  color: rgb(75, 4, 4);
}
